In [4]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("DataBefore_4.xlsx")
df.head()

,Timestamp,Nama,NIM,Jenis kelamin,Tempat Lahir,IPK,Jam Belajar UTS/UAS (1-4),"Ngatur Waktu Kuliah, Tugas, Belajar (1-5)",Mudah memahami materi (1-5),Notes/ringkasan Kuliah (1-5),...,Kerja Sampingan mengganggu (1-5),Sosial Media (1-4),Medsos Mengganggu (1-5),Waktu Tidur (1-4),Waktu Tidur Cukup (1-5),Aktivitas Diluar Rumah (1-5),Pengaruh Lingkungan mendukung Pembelajaran (1-5),Teman2 mendukung Akademik (1-5),Lingkungan pertemanan mempengaruhi IPK (1-5),Dosen mempengaruhi akademik (1-5)
0,2025-05-14 21:03:13.006,Nicholas Adi Briandito,2702242360,Laki-laki,Jakarta,3.29,2 - 4 Jam,2,3,2,...,3.0,2 - 4 Jam,4,6 - 8 Jam,5,3,2,5,2,2
1,2025-05-14 11:09:36.497,Georgius Benedict Sungkharisma,2702370303,Laki-laki,Jakarta,3.43,2 - 4 Jam,2,3,3,...,3.0,2 - 4 Jam,5,4 - 6 Jam,3,3,4,3,4,4
2,2025-05-14 11:14:24.498,Kristian Dinata,2702285952,Laki-laki,Jakarta,3.14,> 6 Jam,2,3,3,...,2.0,> 6 Jam,4,2 - 4 Jam,2,2,4,4,4,4
3,2025-05-14 11:18:14.109,Daniel,2702321415,Laki-laki,Kepulauan Bangka Belitung,3.71,0 - 2 Jam,3,2,5,...,NaN,> 6 Jam,5,6 - 8 Jam,5,3,5,5,5,5
4,2025-05-14 11:36:56.151,Kevin Gabriel Wiharja,2702274495,Laki-laki,Jakarta,3.72,4 - 6 Jam,4,3,5,...,5.0,0 - 2 Jam,1,4 - 6 Jam,1,4,1,3,5,5

In [6]:
df = df.drop(columns=['Timestamp', 'Nama', 'NIM'])
df.head()

,Jenis kelamin,Tempat Lahir,IPK,Jam Belajar UTS/UAS (1-4),"Ngatur Waktu Kuliah, Tugas, Belajar (1-5)",Mudah memahami materi (1-5),Notes/ringkasan Kuliah (1-5),Jadwal belajar teratur (1-5),Memanfaatkan AI (1-5),Revisi Pelajaran (1-5),...,Kerja Sampingan mengganggu (1-5),Sosial Media (1-4),Medsos Mengganggu (1-5),Waktu Tidur (1-4),Waktu Tidur Cukup (1-5),Aktivitas Diluar Rumah (1-5),Pengaruh Lingkungan mendukung Pembelajaran (1-5),Teman2 mendukung Akademik (1-5),Lingkungan pertemanan mempengaruhi IPK (1-5),Dosen mempengaruhi akademik (1-5)
0,Laki-laki,Jakarta,3.29,2 - 4 Jam,2,3,2,3,5,1,...,3.0,2 - 4 Jam,4,6 - 8 Jam,5,3,2,5,2,2
1,Laki-laki,Jakarta,3.43,2 - 4 Jam,2,3,3,2,5,2,...,3.0,2 - 4 Jam,5,4 - 6 Jam,3,3,4,3,4,4
2,Laki-laki,Jakarta,3.14,> 6 Jam,2,3,3,2,5,3,...,2.0,> 6 Jam,4,2 - 4 Jam,2,2,4,4,4,4
3,Laki-laki,Kepulauan Bangka Belitung,3.71,0 - 2 Jam,3,2,5,2,5,3,...,NaN,> 6 Jam,5,6 - 8 Jam,5,3,5,5,5,5
4,Laki-laki,Jakarta,3.72,4 - 6 Jam,4,3,5,1,4,2,...,5.0,0 - 2 Jam,1,4 - 6 Jam,1,4,1,3,5,5

In [7]:
df.isnull().sum()

Jenis kelamin                                       0
Tempat Lahir                                        0
IPK                                                 0
Jam Belajar UTS/UAS (1-4)                           0
Ngatur Waktu Kuliah, Tugas, Belajar (1-5)           0
Mudah memahami materi (1-5)                         0
Notes/ringkasan Kuliah (1-5)                        0
Jadwal belajar teratur (1-5)                        0
Memanfaatkan AI (1-5)                               0
Revisi Pelajaran (1-5)                              0
Jumlah Organisasi (0-3)                             0
Terbebani Organisasi (1-5)                          0
Kerja Samping (0/1)                                 0
Kerja Sampingan mengganggu (1-5)                    7
Sosial Media (1-4)                                  0
Medsos Mengganggu (1-5)                             0
Waktu Tidur (1-4)                                   0
Waktu Tidur Cukup (1-5)                             0
Aktivitas Diluar Rumah (1-5)                        0
Pengaruh Lingkungan mendukung Pembelajaran (1-5)    0
Teman2 mendukung Akademik (1-5)                     0
Lingkungan pertemanan mempengaruhi IPK (1-5)        0
Dosen mempengaruhi akademik (1-5)                   0
dtype: int64

## Fixing wrong input

In [9]:
df[df['Jumlah Organisasi (0-3)'] == 0]['Terbebani Organisasi (1-5)'].value_counts()

Terbebani Organisasi (1-5)
3    13
1     1
4     1
5     1
Name: count, dtype: int64

In [10]:
df.loc[df['Jumlah Organisasi (0-3)'] == 0, 'Terbebani Organisasi (1-5)'] = 3

In [ ]:
df[df['Jumlah Organisasi (0-3)'] == 0]['Terbebani Organisasi (1-5)'].value_counts()

Terbebani Organisasi (1-5)
3    16
Name: count, dtype: int64

In [15]:
df[df['Kerja Samping (0/1)'] == "Tidak"]['Kerja Sampingan mengganggu (1-5)'].value_counts()

Kerja Sampingan mengganggu (1-5)
3.0    31
1.0     2
Name: count, dtype: int64

In [16]:
df.loc[df['Kerja Samping (0/1)'] == "Tidak", 'Kerja Sampingan mengganggu (1-5)'] = 3

In [17]:
df[df['Kerja Samping (0/1)'] == "Tidak"]['Kerja Sampingan mengganggu (1-5)'].value_counts()

Kerja Sampingan mengganggu (1-5)
3.0    40
Name: count, dtype: int64

## Mapping

In [20]:
time_map_1_4 = {
    '0 - 2 Jam': 1,
    '2 - 4 Jam': 2,
    '4 - 6 Jam': 3,
    '> 6 Jam': 4
}

sleep_map = {
    '2 - 4 Jam': 1,
    '4 - 6 Jam': 2,
    '6 - 8 Jam': 3,
    '> 8 Jam': 4
}

work_map = {
    'Tidak': 0,
    'Iya': 1
}

df['Jam Belajar UTS/UAS (1-4)'] = df['Jam Belajar UTS/UAS (1-4)'].map(time_map_1_4)
df['Sosial Media (1-4)'] = df['Sosial Media (1-4)'].map(time_map_1_4)
df['Ngatur Waktu Kuliah, Tugas, Belajar (1-5)'] = df['Ngatur Waktu Kuliah, Tugas, Belajar (1-5)'].astype(int)
df['Mudah memahami materi (1-5)'] = df['Mudah memahami materi (1-5)'].astype(int)
df['Notes/ringkasan Kuliah (1-5)'] = df['Notes/ringkasan Kuliah (1-5)'].astype(int)
df['Jadwal belajar teratur (1-5)'] = df['Jadwal belajar teratur (1-5)'].astype(int)
df['Memanfaatkan AI (1-5)'] = df['Memanfaatkan AI (1-5)'].astype(int)
df['Revisi Pelajaran (1-5)'] = df['Revisi Pelajaran (1-5)'].astype(int)

df['Jumlah Organisasi (0-3)'] = (
    df['Jumlah Organisasi (0-3)']
      .replace({'> 3': 3})
      .astype(int)
)

df['Terbebani Organisasi (1-5)'] = df['Terbebani Organisasi (1-5)'].astype(int)

df['Kerja Samping (0/1)'] = df['Kerja Samping (0/1)'].map(work_map)

df['Kerja Sampingan mengganggu (1-5)'] = df['Kerja Sampingan mengganggu (1-5)'].astype(int)
df['Medsos Mengganggu (1-5)']         = df['Medsos Mengganggu (1-5)'].astype(int)

df['Waktu Tidur (1-4)'] = df['Waktu Tidur (1-4)'].map(sleep_map)
df['Waktu Tidur Cukup (1-5)'] = df['Waktu Tidur Cukup (1-5)'].astype(int)

C:\Users\Richa\AppData\Local\Temp\ipykernel_19144\766826101.py:31: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace({'> 3': 3})

In [22]:
df.head()

,Jenis kelamin,Tempat Lahir,IPK,Jam Belajar UTS/UAS (1-4),"Ngatur Waktu Kuliah, Tugas, Belajar (1-5)",Mudah memahami materi (1-5),Notes/ringkasan Kuliah (1-5),Jadwal belajar teratur (1-5),Memanfaatkan AI (1-5),Revisi Pelajaran (1-5),...,Kerja Sampingan mengganggu (1-5),Sosial Media (1-4),Medsos Mengganggu (1-5),Waktu Tidur (1-4),Waktu Tidur Cukup (1-5),Aktivitas Diluar Rumah (1-5),Pengaruh Lingkungan mendukung Pembelajaran (1-5),Teman2 mendukung Akademik (1-5),Lingkungan pertemanan mempengaruhi IPK (1-5),Dosen mempengaruhi akademik (1-5)
0,Laki-laki,Jakarta,3.29,2,2,3,2,3,5,1,...,3,2,4,3,5,3,2,5,2,2
1,Laki-laki,Jakarta,3.43,2,2,3,3,2,5,2,...,3,2,5,2,3,3,4,3,4,4
2,Laki-laki,Jakarta,3.14,4,2,3,3,2,5,3,...,2,4,4,1,2,2,4,4,4,4
3,Laki-laki,Kepulauan Bangka Belitung,3.71,1,3,2,5,2,5,3,...,3,4,5,3,5,3,5,5,5,5
4,Laki-laki,Jakarta,3.72,3,4,3,5,1,4,2,...,5,1,1,2,1,4,1,3,5,5

In [24]:
df = df.drop(columns=['Jenis kelamin', 'Tempat Lahir'])

In [ ]:
df.to_excel("DataAfter_4.xlsx", index=False)